@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;700&family=Lexend+Deca:wght@100;300;400&display=swap");
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
}
body {
    font-size: 15px;
    min-height: 100vh;
    background-color: hsl(233, 47%, 7%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Inter';
}

/* Typography */

h1 {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    margin-top: 0;
    
}
li {
    list-style-type: none;
}
li .reviews-num{
    font-size: 1.3rem;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 700;
}
.details-p {
    font-size: 0.9rem;
}
.reviews-details, .details-p{
    color: hsla(0, 0%, 100%, 0.75);
    text-align: center;
    list-style-type: none;
}
.reviews-details {
    font-weight: 400;
    font-size: smaller;
    margin: 8px;
    text-transform: uppercase;
}
span {
    color: hsl(277, 64%, 61%);
}
@media (min-width: 700px) {
    h1 {
        font-size: 2.5rem;
    }
    h1, .reviews-num, .reviews-details, .details-p {
        text-align: center;
    }
    .details-p {
        font-size: 1.1rem;
        width: 90%;
    }
    .reviews-details {
        font-size: 1rem;
        margin-left: 0;
    }
    li .reviews-num {
        font-size: 1.5rem;
    }
}
@media (min-width: 1440px) {
    h1, li .reviews-num, .details-p {
        text-align: left;
    }
    .details-p {
        width: 100%;
    }
}


/*layout*/

main {
    margin: 4em 2em;
    background-color:  hsl(244, 38%, 16%);
    border-radius: 10px;
    max-width: 1440px;
}
@media (min-width: 700px) {
    main {
        max-width: 70%;
        margin: 10em;
    }
}
@media (min-width: 1440px) {
    main {
        max-width: 1440px;
        margin: 10em;
        display: flex;
    }
}
.details {
    padding: 2em 1.2em;
    color: hsl(0, 0%, 100%);
    margin: 0 auto;
}
@media (min-width: 700px) {
    .details {
        padding: 4em 4em;
        color: hsl(0, 0%, 100%);
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media (min-width: 1440px) {
    .details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        width: 40%;
        padding: 3em;
}
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
    opacity: 0.8;
    mix-blend-mode:exclusion;
    display: block;
    border-radius: 10px  10px 0 0;
}  

@media (min-width: 1440px) {
    picture {
        width: 50%;
        order: 1;
        border-radius: 0  10px 10px 0;
    }
}

@media (min-width: 1440px) {
    picture img {
    border-radius: 0  10px 10px 0;
    }
}

ul {
    padding-left: 0;
    justify-content: center;
    margin-top: 2em;
    text-align: center;
}
@media (min-width: 1440px) {
    ul {
        width: 90%;
        display: flex;
        justify-content: space-between;
        padding-right: 4em;
        order: 0;
    }
}